#portfolio{
    padding-top: 2em;
    padding-bottom: 4.5em;
}
.right-page-heading{
    text-align: center;
}
.right-grid-item{
    box-shadow: inset 0 0 0 0 #182b8a;
}


.modal-backdrop.in{
    opacity: 0 !important;
}
.modal-dialog .close{
    display: none;
}